@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400,600&display=swap');

.Country{

    width: 4.44rem;
    height: 3.63rem;
    
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    font-size: 1.50rem;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    /* top: 4rem; */
    color: #FBFFFF;
    position: absolute;

}

.City{
    width: -1.5rem;
    height: 7rem;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    font-size: 0.94rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: absolute;
    
    left: 13.56;
    padding-left:1.69rem;
}

.Icon{

    width: -1.5rem;
    height: 6.6rem;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    font-size: 0.94rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    position: absolute;
    left: 13.56;
    padding-left: 0.56rem;
  
}