
.app_view{
    height: 100vh;
    width: 100vw;
    background:#ffff;
    display: flex;
    justify-content: center;
    align-content: center;
    
  }
  
  .main_app{
  position: relative;
  border-radius: 45px;
  height: 90vh;
  margin-top: 5vh;
  width: 40vw;
  min-width: 200px;
  max-width: 300px;
  background-image: url(./assets/weatherred.jpg);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 12px 8px #888888;
  }
  
  .weather-component{
    position: absolute;
    height: 53vh;
    width: 100%;
    background-color: #212E3E;
    bottom: 0;
    padding: 20px;
    border-radius: 0px 165.5px 38px 38px;
  }
